<div class="container mt-5">
  <div class="card">
    <img src="#" class="card-img-top" alt="Card Image">
    <div class="card-body">
      <h5 class="card-title"><%= @list.name %></h5>
      <p class="card-text"><%= @list.description %></p>
    </div>
  </div>
</div>