body {
  background-color: #18191d;
  background-size: cover;
  background-position: center;
  color: #f4d58d; /* Set text color to white for better visibility on the background */
}

.btn-success {
  background-color: transparent;
  border-color: #6aa18a;
  color: #6aa18a;
  padding: 5px 30px;
}

.header-banner {
  background-image: url('redombre.jpg'); /* Add your header background image path */
  background-size: cover;
  background-position: center;
  padding: 180px 0;
  padding-left: 200px;
  color: #f4d58d;

  h1 {
    font-size: 3em;
    font-family: 'DM Serif Display', serif;
  }

  p {
    font-size: 1.2em;
    margin-bottom: 30px;
  }
}

.card {
  background-color: #6aa18a;
}

